:host {
  height: calc(100vh - 4rem);
  height: calc(100dvh - 4rem);
  top: calc(100vh - 6rem);
  @apply tw-absolute tw-left-0 tw-right-0 tw-z-20;
  @apply tw-bg-gray-700 tw-shadow-md tw-p-4 tw-rounded-t-3xl tw-transition-transform tw-duration-300 tw-ease-in-out;

  &.open {
    transform: translateY(calc(-100% + 4rem * 2));
  }

  &.touching {
    .button-sheet-up-line {
      @apply tw-opacity-50;
    }
  }
}

.button-sheet-up-line {
  @apply tw-absolute tw-top-2 tw-left-1/2 tw-transform tw--translate-x-1/2 tw-w-1/3 tw-h-1 tw-bg-gray-500 tw-rounded-md tw-transition-opacity tw-duration-300 tw-ease-in-out;
}
