<ion-header class="tw-fixed tw-top-0 tw-left-0 tw-right-0 tw-z-20 tw-shadow-none tw-border-none">
  <!-- <ion-toolbar>
    <ion-segment [value]="selectedMode()" (ionChange)="modeChanged($event.detail.value ?? '')">
      <ion-segment-button value="default">
        <ion-label>Default</ion-label>
      </ion-segment-button>
      <ion-segment-button value="roundLoop">
        <ion-label>Round loop</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->
  <ion-toolbar [ngStyle]="{ '--background': appStateMode() === 'default' ? 'transparent' : '#374151'}">
    @switch (appStateMode()) {
      @case ('default') {
        <div class="tw-pt-3">
          <ion-searchbar animated="true" placeholder="Find location" show-clear-button="focus" mode="ios" class="tw-pt-2" style="--background: #374151;" />
        </div>
      }
      @case ('round-trip') {
        <ng-container *ngTemplateOutlet="roundTripService.routeInfoComponent | async" />
      }
      @case ('navigation') {
        <app-step-instruction-bar [step]="currentNavInstruction$ | async" />
      }
    }
    <!-- @if (roundTripService.routeInfoComponent | async) {
      <ng-container *ngTemplateOutlet="roundTripService.routeInfoComponent | async" />
    } @else {
      <div class="tw-pt-3">
        <ion-searchbar animated="true" placeholder="Find location" show-clear-button="focus" mode="ios" class="tw-pt-2" style="--background: #374151;" />
      </div>
    } -->
  </ion-toolbar>
  @if (appStateMode() === 'round-trip') {
    <ng-container *ngTemplateOutlet="roundTripService.routeTopToolbar | async" />
  }
</ion-header>


<!-- <div class="ion-padding">
  @switch (selectedMode()) {
    @case ('default') {
      <ion-searchbar animated="true" placeholder="Find location" show-clear-button="focus" />
    }
    @case('roundLoop') {
      <app-round-trip-controls />
    }
  }
</div> -->

<app-map #map class="tw-z-10 tw-w-full tw-h-full" />

<!-- <div class="tw-absolute tw-bottom-0 tw-left-1/2 -tw-translate-x-1/2 tw-z-20" style="background: var(--ion-color-light);">
  fafafdaffafsdg
</div> -->

<!-- @if (isShowSearchMode()) { -->
  <!-- <app-bottom-sheet>
    <ion-searchbar animated="true" placeholder="Find location" mode="ios" show-clear-button="focus" />
  </app-bottom-sheet> -->
<!-- } -->
<!-- <div class="tw-border tw-border-red-300 tw-h-full"> -->
  <!-- <app-map #map class="tw-z-10" /> -->
<!-- </div> -->
